* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* se trae imagen de fondo mobile firts  cambio diseño  */
body {

  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

}

#root {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.bodyWelcome {
  width: 100vw;
  height: 100vh;
  background-image: url(./imagenes/bakcgroundFull.svg);
  display: flex;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 60%;
  background-attachment: fixed;
  text-align: center;
  color: #796070;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  height: 18vh;
  top: 0;
}

#logoContainer {
  justify-content: center;
  display: flex;
  width: 30vw;
  height: auto;
  align-self: center;
}

#logo {
  width: 90%;
  height: 90%;
  align-self: center;
  margin-top: 2vh;
}

/* estilos  welcome template  */
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5vw;
  width: 100vw;
  height: 60vh;
  font-size: 4vw;
  align-items: center;
}

.welcome h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  margin-top: 1vh;
  color: #796070;
}

.welcome h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  width: 50vw;
  color: #796070;
  margin-top: 1vh;
}


.containerForm {
  margin-top: 1vh;
  margin-bottom: 1vh;
  justify-content: space-between;
  background: #FAF8F7;
  border: 1px solid #82B9C9;
  box-sizing: border-box;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.containerForm h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  width: 50vw;
  color: #796070;
  margin-top: 1vh;
}




.infoBox {
  margin-top: 2vh;
  background: rgba(130, 185, 201, 0.3);
  border-radius: 0px 0px 0px 70px;
  border-style: none;
  text-align: center;
  width: 65vw;
  height: 8vw;
  color: #796070;
  font-size: 0.7rem;
}

.linkRecover {
  font-weight: 200;
  font-size: 1vw;
}

.btnSignUp {
  background: #796070;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 3px 30px 30px;
  border-style: none;
  width: 30vw;
  height: auto;
  color: #FAF8F7;
  font-size: 4vw;
  text-align: center;
  padding: 0.3rem;
  font-weight: 600;
  margin-bottom: 2vh;
}

.containerGmailSign {
  display: flex;
  align-items: center;
  flex-direction: column;


}

#gmailLogo {
  width: 15vw;
  height: auto;
}

.containerRegister {
  margin-top: 2vh;
  align-self: flex-end;
  justify-content: flex-end;
  text-align: right;
  margin-right: 5vw;
  font-size: 3.5vw;

}

/* estilos para view home y post  */

.userPost {
  display: block;
  width: 90vw;
  height: 110vw;
  margin-top: 10vw;
  margin-left: 5vw;
  margin-right: 5vw;
  border: 1px solid #CDADBC;
  border-radius: 10vw 0 0 0;
  box-shadow: 2px 4px 3px 2px #e4d5dc;


}

.viewPost {
  display: inline-flex;
  width: 90vw;
  height: auto;
  margin-top: 10vw;
  margin-left: 5vw;
  margin-right: 5vw;
  border: 1px solid #CDADBC;
  border-radius: 10vw 0 0 0;
  box-shadow: 2px 4px 3px 2px #e4d5dc;
  font-size: 3vw;
}

/* iconos de post  */
.boxIconPost {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 4vw;


}

.trash {

  width: 3.8vw;
  margin-right: 3vw;

}

#heartLikes {

  width: 4vw;
  opacity: 0.2;
}

#brief,
#learning {
  opacity: 0.2;
}

.date {
  margin-left: 2vw;
  font-size: 2vw;
  text-align: left;
  margin-right: 5vw;

}


.postHeader {
  display: inline-flex;
  flex-direction: row;
  width: 100vw;
  height: 15vw;
  margin: 2vw;
  justify-content: space-between;
  padding-top: 3vw;
}

#logo1 {
  width: 17vw;
  margin-left: 3vw;
  margin-top: 1vw;
}

#search {
  align-self: center;
  text-align: center;
  margin-left: 15vw;
  margin-right: 5vw;
  margin-top: 3vw;
  width: 50vw;
  height: 7vw;
  border-style: none;
  background-color: #CDADBC;
  border-radius: 50pt;
  border: 1px solid #CDADBC;
  color: #82003E;
  opacity: 0.2;
}


#photo {
  width: 15vw;
  height: auto;
  margin-left: 0;
  margin-top: 0;
  border: 1px solid #CDADBC;
  border-radius: 30pt;
  box-shadow: 0px 3px 4px 0px #CBC3C1;
  background-color: #FAF8F7;

}

.postAsk {
  margin-top: 5vw;
  text-align: center;
  font-size: 3vw;
  margin-left: 3vw;
}

/* .postsUser{
  width: 90vw;
  height: 110vw;
  margin-top: 10vw;
  margin-left: 5vw;
  margin-right: 5vw; 
  border: 1px solid #CDADBC;
  border-radius: 30pt 0 0 0;
  box-shadow: 2px 4px 3px 2px #e4d5dc;


} */
.select {
  width: 90vw;
  display: inline-flex;
}

.container_description {
  width: 90vw;
  height: 90vw;
}


.btnPost {
  margin-top: 5vw;
  background: #82003E;
  border-radius: 70pt;
  border-style: none;
  width: 40vw;
  height: 10vw;
  color: #FAF8F7;
  font-size: 4vw;
  text-align: center;
  padding: 0.3rem;
  font-weight: bold;
}

.postSelection {
  width: 30vw;
  margin-left: 2vw;
  display: inline-flex;
  margin-top: 3vw;
  margin-right: 0;
}

#job {
  width: 13vw;
  height: auto;
  margin-right: 3vw;
  margin-top: 0.5vw;
  opacity: 0.2;
  margin-left: 3vw;
}

#courses {
  width: 11.5vw;

  height: auto;
  opacity: 0.2;
}

.postTitle {
  text-align: center;
  width: 70vw;
  height: 5vw;
  margin-top: 3vw;
  /* border: 1px solid #CDADBC; */
  margin-bottom: 3vw;
  margin-left: 2vw;
  font-weight: bold;
}

.description {
  text-align: center;
  width: 70vw;
  height: auto;
  border: 1px solid #CDADBC;
  font-size: 3vw;
  margin-left: 2vw;
  font-weight: lighter;
  background-color: #E3D3D9;
  margin-right: 2vw;

}

.icons {
  display: inline-flex;
  height: 15vw;
  bottom: 0;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  border-top: 1px solid #CDADBC;
  padding-top: 1rem;
  left: 0;
  right: 0;
  background-color: #FAF8F7;
}

.iconbox {
  width: 19vw;
  height: auto;
  margin-bottom: 0;
}

.icon {
  width: 10vw;
  height: auto;
  margin-bottom: 0;
  position: bottom;
}

#lapIco {
  width: 15vw;
}

/* estilos para signUp */


section .registerForm {

  font-size: 4vw;
}

/* responsive media query  */
@media screen and (min-width: 548px) {

  body {
    background-image: url(./imagenes/backgroundFull.png);
    display: flex;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 43vw auto;
    background-attachment: fixed;
    text-align: center;
    color: #a64a76;
  }

  header #logoContainer {

    margin-left: 50vw;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    margin-left: 50vw;
    font-size: 2vw;
    text-align: center;
  }

  .containerForm {
    margin-top: 3vw;
    margin-bottom: 1vw;
    font-size: 2vw;
  }

  .viewPost {

    width: 90vw;
    height: auto;
    margin-top: 25vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 1px solid #CDADBC;
    border-radius: 10vw 0 0 0;
    box-shadow: 2px 4px 3px 2px #e4d5dc;
  }

  .date {
    margin-left: 6vw;
    font-size: 2vw;
    text-align: left;
    margin-right: 5vw;
    margin-bottom: 2vw;


  }



  .linkRecover {
    font-weight: 200;
    font-size: 1vw;
  }

  .btnSignUp {
    background: #82003E;
    border-radius: 70pt;
    border-style: none;
    width: 15vw;
    height: 4vw;
    color: #FAF8F7;
    font-size: 2vw;
    text-align: center;
    padding: 0.3rem;
    font-weight: 600;
    margin-top: 1vw;
  }

  #gmailLogo {
    margin-top: 1rem;
    width: 10vw;
    height: auto;
  }

  .containerRegister {
    margin-top: 2rem;

    text-align: center;

    font-size: 1.5vw;

  }


  #logo {
    width: 15vw;
    height: auto;
  }

  .postHeader {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 12vw;
    top: 0;
    margin-top: -3vw;
    box-shadow: 0px 6px 4px #CDADBC;
    border-bottom: 1px solid #CDADBC;
    position: fixed;
    z-index: 10;
    background-color: #FAF8F7;
  }

  .icons {
    display: flex;
    top: 0;
    position: fixed;
    z-index: 10;
    margin-left: 50vw;
    height: 10vw;
  }

  .iconbox {
    width: 5vw;
    height: 4vw;
    border-radius: 20pt;
    box-shadow: 0px 5px 4px 0px #cbc3c1;
    margin-right: 2px;
    padding: 1vw;

  }

  .icon {
    align-content: center;
    width: 90%;
    height: auto;
    margin-bottom: 0;

  }

  #logo1 {
    margin-top: 1vw;
    width: 10vw;
    margin-left: 1vw;
  }

  #search {
    margin-right: 90vw;
    text-align: center;
    margin-top: 6vw;
    width: 18vw;
    height: 3vw;
    border-style: none;
    background-color: #CDADBC;
    border-radius: 50pt;
    border: 1px solid #CDADBC;
    color: #82003E;
    opacity: 0.2;
  }


  #photo {
    width: 20vw;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    border: 1px solid #CDADBC;
    border-radius: 100pt;
    box-shadow: 0px 3px 4px 0px #CBC3C1;
    background-color: #FAF8F7;

  }

  .postAsk {
    margin-top: 5vw;
    text-align: center;
    font-size: 3vw;
  }

  .userPost {
    display: block;
    width: 90vw;
    height: 110vw;
    margin-top: 25vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 1px solid #CDADBC;
    border-radius: 10vw 0 0 0;
    box-shadow: 2px 4px 3px 2px #e4d5dc;


  }

  .postsUser {
    margin-top: 50vw;
    width: 100vw;
    height: 30vw;
    margin-top: 10vw;
    /* margin-left: 5vw;
  margin-right: 5vw;  */
  }

  .select {
    width: 70vw;
    display: inline-flex;
    justify-content: space-between;
    margin-left: -20vw;
  }

  .container_description {
    width: 90vw;
    height: 90vw;



  }

  .btnPost {
    margin-top: 5vw;
    background: #82003E;
    border-radius: 70pt;
    border-style: none;
    width: 40vw;
    height: 10vw;
    color: #FAF8F7;
    font-size: 4vw;
    text-align: center;
    padding: 0.3rem;
    font-weight: bold;
  }

  .postSelection {
    width: 20vw;
    margin-left: 2vw;
    display: inline-flex;
    margin-top: 3vw;
    margin-right: 0;
  }

  #job {
    width: 13vw;
    height: auto;
    margin-right: 3vw;
    margin-top: 0.5vw;
    opacity: 0.2;
    margin-left: 3vw;
  }

  #courses {
    width: 11.5vw;
    height: auto;
    opacity: 0.2;
  }

  #postTitle {
    text-align: center;
    width: 50vw;
    height: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-size: 3vw;

  }

  .description {
    text-align: center;
    width: 60vw;
    height: 30vw;
    border: 1px solid #CDADBC;
    font-size: 3vw;
    margin-left: 6vw;

  }

  #heartLikes {
    margin-right: 2vw;
    width: 4vw;
    opacity: 0.2;

  }

  #lapIco {
    width: 10vw;
  }

  /* responsinve signup */
  .mainRegister {
    margin-top: 3vw;
    display: flex;

    flex-direction: column;
    margin-left: 50vw;
    font-size: 1, 5vw;
    text-align: center;
  }

  .registerForm {
    margin-top: 1vw;
    font-size: 2vw;
    text-align: center;
  }

  .registerForm p {
    margin-bottom: 1vw;
    font-size: 2vw;
    text-align: center;
  }
}