*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* se trae imagen de fondo */
body{
    background-image: url(./imagenes/backgroundMovil.png);
    padding: 20px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size:45% auto;
    background-attachment:fixed ;
    text-align: center;
    color:#82003e;

}
 /* estilos  welcome template  */
 .welcome{
     justify-content: space-between;
 }
#logo {
    width:30%;
    height: auto;
}
#logoContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#gmailLogo{
    margin-top: 1rem;
    width: 20%;
    height: auto;
}
.containerForm{
    margin-bottom: 1rem;
}
.infoBox{
    background: #CDADBC;
    border-radius:70pt;
    border-style: none;
    text-align: center;
    padding: 0.1rem;
    width: 50%;

}
.linkRecover{
    
}
.btnSignUp{
    background: #82003E;
    border-radius:70pt ;
    border-style: none;
    width: 30%;
    height: auto;
    color: #FAF8F7;
    font-size:11pt ;
    text-align: center;
    padding: 0.3rem;
    font-weight: 300;

}
.container{
    margin-top: 2rem;
    text-align: end;

}
/* estilos titulos y subtitulos */
h1{
    font-size: 14pt;
}
h2{
    font-size: 12pt;
}
h3{
    font-size: 10pt;
}
h4{
    font-size: 8pt;
}
